<div class="card">
  <div class="comnd">
    <a class="btn" style="background-color: red; float: right;">X</a>
  </div>
    <div class="price">
        <h5>id:1</h5>
        <h6 style="color: #000;">Mahdia</h6>
    </div>
    <div class="project-img">
    </div>
    <div class="info">
        <h3>001/099</h3>
    </div>
    <div class="comnd">
      <a class="btn" routerLink="/berguers">Modifiez</a>
    </div>
</div>
<script>
  //change bgColor depends on free places
  let myCard = document.getElementsByClassName('card');
  </script>
