<h1><strong>Votre liste d'achat</strong><span class="bi-plus"></span></h1>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Quantité</th>
                      <th>Prix</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let item of toBuyItems">
                      <td>{{ item }}</td>
                      <td>ki</td>
                      <td>$</td>
                      <td width=340>
                        <button class="btn btn-danger">Supprimer</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h4>Total: 0$</h4><br>
                <button class="btn btn-success">Terminer</button>
                <div class="content">
                  <p ></p>
              </div>