<div class="content">
  <div class="card">
      <div class="project-img">
      </div>
      <div class="info">
          <h3>G087</h3>
      </div>
  </div>
  <div class="card">
    <div class="project-img">
    </div>
    <div class="info">
        <h3>G087</h3>
    </div>
</div>
<div class="card">
  <div class="project-img">
  </div>
  <div class="info">
      <h3>G087</h3>
  </div>
</div>
<div class="card">
  <div class="project-img">
  </div>
  <div class="info">
      <h3>G087</h3>
  </div>
</div>
<div class="card">
  <div class="project-img">
  </div>
  <div class="info">
      <h3>G087</h3>
  </div>
</div>
<div class="card">
  <div class="project-img">
  </div>
  <div class="info">
      <h3>G087</h3>
  </div>
</div>
<div class="card">
  <div class="project-img">
  </div>
  <div class="info">
      <h3>G087</h3>
  </div>
</div>
<div class="card">
  <div class="project-img">
  </div>
  <div class="info">
      <h3>G087</h3>
  </div>
</div>
</div>

